*{
    padding: 0;
    margin: 0;
}

body{
 background-image: url(../Images/HD/bgnd3.jpg);
 background-size: cover;
}

form{

     background-image: url(../Images/HD/tree.jpg); 
     background-size: cover; 
    /* background-color: white; */
    padding: 3em;
    margin-left: 30em;
    margin-top: 10em;
    line-height: 2em;
    /* border: 2px solid black; */
    
}



label{
    color:darkblue;
}
.signupbtn{
    /*border: red 2px solid;*/
    line-height: 5em;
}
#error_m{
    font-size: 10px;
    font-family: cursive;
    font-weight: bolder;
}